body {
  font-family: "Poppins", sans-serif;
  background-color: #dddddd;
  background-image: url("./assets/ფონის_ელემენტი.png");
  background-repeat: repeat-y;
  color: #242b3d;
}
.home-page {
  display: flex;
  justify-content: space-between;
  /* width: 100%; */
}
.navbar {
  width: max-content;
}

.heading {
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
}
.text {
  display: flex;
  letter-spacing: 1px;
  flex-direction: column;
  line-height: 2px;
  margin-left: 250px;
}
.arrow {
  width: 100px;
  margin-left: 100px;
  margin-top: 50px;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-right: 70px;
  margin-bottom: -20px;
}
.position {
  margin-top: -100px;
}
.small {
  margin-right: 335px;
}
.p {
  font-size: 22px;
  font-weight: 600;
}

.h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 250px;
  width: 60%;
  font-weight: 900;
  font-size: 82px;
  letter-spacing: 4px;
}

a {
  font-size: 26px;
  letter-spacing: 0.52px;
  color: #242b3d;
  opacity: 1;
  font-weight: 600;
  list-style-type: none;
}

.language {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: square;
  padding: 0;
}

.logo {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.page-2 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: column;
}
.h2-page-2 {
  color: white;
  font-size: 72px;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: -100px;
  z-index: 1;
}
.img-2 {
  position: relative;
}
.img-info {
  position: relative;
}

.p-info {
  position: absolute;
  z-index: 2;
  top: 100px;
  color: white;
  font-size: 16px;
  letter-spacing: 1px;
  width: 35%;
  height: 100%;
  margin-left: 150px;
}
.about {
  margin-left: 750px;
  margin-top: 180px;
}
.pg2-text {
  position: absolute;
  top: 400px;
  width: 100%;
  right: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}
.page-3 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
}

.h1-page-3 {
  color: white;
  font-size: 72px;
  width: 30%;
  z-index: 1;
  letter-spacing: 2px;
}
.img-page-3 {
  position: absolute;
  right: 230px;
}
.h-page-3 {
  color: white;
  text-decoration: underline;
  font-size: 52px;
  margin-left: -200px;
}
.p-page-3 {
  color: #000000;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: -20px;
}
.h1-page-4 {
  position: relative;
  color: #ff5f03;
  font-size: 72px;
  bottom: -100px;
  align-items: center;
  margin-left: 500px;
  z-index: 2;
  text-decoration: underline;
  letter-spacing: 5px;
  width: 50%;
}

.box {
  position: relative;
  background-color: #242b3d;
  width: 532px;
  height: 173px;
  bottom: 100px;
  left: 970px;
}
.box-elements {
  font-size: 18px;
  position: absolute;
  left: 150px;
  bottom: 50px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 2;
  gap: 20px;
}
